<script src="/javascripts/profile.js"></script>

<div class="profile-container bg-white mr-3 d-flex flex-column ">
  <form id="form-container" class="d-flex p-3 flex-row justify-content-center align-items-center" action="/users/update/image" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar" class="d-none" id="input-avatar">
    <img src="<%= user.avatar %> " alt="photo de profile" class="img-fluid" id="image-profile">
  </form>
  <div class="d-flex flex-row justify-content-center align-items-center my-3">
    <p><%= user.username %> (<%= currentUser.local.email %> ) </p>
  </div>
  <div class="text-center d-flex flex-row justify-content-center align-items-center my-3">
    <div class="flex-fill">
      <p>Tweet</p>
      <br>
      <span class="text-primary"><%= tweets.length %>
    </div>
    <div class="flex-fill ">
      <p>Following</p>
      <br>
      <span class="text-primary">-</span>
    </div>

  </div>
</div>