<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/tweets" class="navbar-brand"><img src="/images/logoTwitter.png" alt="" width="30" height="30"></a>
  <button class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <% if (isAuthenticated) { %> 
      <li class="nav-item active"><a href="/tweets/new" class="btn btn-primary btn-tweet mr-3">Tweet</a></li>
      <li class="nav-item active"><a href="/auth/signout" class="btn btn-danger btn-tweet mr-3">Deconnexion</a></li>
      <% } else { %>  
      <li class="nav-item"><a href="/auth/signin/form" class="nav-link">Connexion</a></li>
      <li class="nav-item"><a href="/users/signup/form" class="nav-link">Inscription</a></li>
      <% } %> 
    </ul>
  </div>
</nav>